<!DOCTYPE html>
<html>
<head>
    <title>Systemd Service Manager</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    th {
        background-color: #f2f2f2;
    }
    button {
        padding: 5px 10px;
        margin: 2px;
    }
    textarea {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin-top: 20px;
    }
    @media screen and (max-width: 600px) {
        button {
            display: block;
            width: 100%;
            margin: 5px 0;
        }
    }
    /* Dark mode styles */
    body.dark-mode {
        background-color: #333;
        color: #fff;
    }
    body.dark-mode table, body.dark-mode th, body.dark-mode td {
        border-color: #888;
    }
    body.dark-mode th {
        background-color: #555;
    }
    .dark-mode-toggle {
        cursor: pointer;
        display: inline-block;
    }   

    .dark-mode-toggle svg {
        transition: transform 0.3s;
    }

    #darkMode:checked + .dark-mode-toggle svg {
        transform: rotate(180deg);
    }
    .dark-mode-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: inline-block;
}
</style>

<body>
    <input type="checkbox" id="darkMode" hidden>
    <label for="darkMode" class="dark-mode-toggle">
        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8V16Z" fill="#000000" />
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM12 4V8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16V20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4Z"
                fill="#000000" />
        </svg>
    </label>
    
    <h1>Systemd Service Ctl</h1>
    <h3>{{ hostname }}</h3>
    
    
    <table>
        <thead>
            <tr>
                <th>Service</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for service, service_data in services.items() %}
            <tr>
                <td>
                    {% if service in SERVICES_DATA and SERVICES_DATA[service]|length == 2 %} 
                       <a href="{{ SERVICES_DATA[service][1] }}" target="_blank">{{ service }}</a>
                    {% else %}
                        {{ service }}
                    {% endif %}
                    ({{ service_data.type }})
                </td>
                <td id="{{ service }}_status">{{ service_data.status[1] }}</td>
                <td>
                    <button onclick="performAction('{{ service }}', 'start', '{{ service_data.type }}')">Start</button>
                    <button onclick="performAction('{{ service }}', 'stop', '{{ service_data.type }}')">Stop</button>
                    <button onclick="performAction('{{ service }}', 'restart', '{{ service_data.type }}')">Restart</button>
                    <button onclick="performAction('{{ service }}', 'enable', '{{ service_data.type }}')">Enable</button>
                    <button onclick="performAction('{{ service }}', 'disable', '{{ service_data.type }}')">Disable</button>
                    <button onclick="getFullServiceStatus('{{ service }}', '{{ service_data.type }}')">Status</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <textarea id="debugOutput" rows="10" cols="100" readonly></textarea>
    <script>


        function updateStatuses() {
    fetch('/status')
    .then(response => response.json())
    .then(data => {
        for (const [service, status] of Object.entries(data)) {
            document.getElementById(`${service}_status`).textContent = status;
        }
    });
}

function performAction(service, action, serviceType) {
    // Clear the textarea before displaying new content
    let debugOutput = document.getElementById("debugOutput");
    debugOutput.value = '';

    fetch('/action', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: `service_name=${service}&action=${action}&service_type=${serviceType}`
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === "success") {
            debugOutput.value += `Service: ${service}\nCommand: ${data.cmd}\nOutput: ${data.message}\n\n`;
            
            // If action is not 'full-status', fetch the updated status for this service
            if (action !== "full-status") {
                fetch(`/status?service=${service}&service_type=${serviceType}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById(`${service}_status`).textContent = data[service];
                });
            }
        } else {
            debugOutput.value += `Error: ${data.message}\n\n`;
        }
    });
}

setInterval(updateStatuses, 5000);  // Move this outside of the updateStatuses function
    // ... existing scripts ...

    document.addEventListener("DOMContentLoaded", function() {
    const darkModeToggle = document.getElementById("darkMode");
    const isDarkMode = localStorage.getItem('darkMode') === 'true';

    // Set initial mode
    darkModeToggle.checked = isDarkMode;
    if (isDarkMode) {
        document.body.classList.add("dark-mode");
    } else {
        document.body.classList.remove("dark-mode");
    }

    // Toggle event
    darkModeToggle.addEventListener("change", function() {
        if (this.checked) {
            document.body.classList.add("dark-mode");
            localStorage.setItem('darkMode', 'true');
        } else {
            document.body.classList.remove("dark-mode");
            localStorage.setItem('darkMode', 'false');
        }
    });
});
function getFullServiceStatus(service, serviceType) {
    // Clear the textarea before displaying new content
    let debugOutput = document.getElementById("debugOutput");
    debugOutput.value = '';

    fetch(`/action`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: `service_name=${service}&action=full-status&service_type=${serviceType}`
    })
    .then(response => response.json())
    .then(data => {
        debugOutput.value += `Service: ${service}\nStatus Details:\n${data.message}\n\n`;
    });
}


    </script>
</body>
</html>
